#calendar th, #calendar td{
    text-align: center;
    padding-left: 20px;
}

#calendar .weekdays-row th {
    background-color: #fff;
}

#calendar .calendar-selected-day {
    font-weight: bold;
}